USE [Online_Shop]
GO
/****** Object:  Table [dbo].[Administratori]    Script Date: 01/05/2026 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administratori](
	[AdminID] [int] NOT NULL,
	[Emri] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detajet_Porosise]    Script Date: 01/05/2026 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detajet_Porosise](
	[PorosiaID] [int] NOT NULL,
	[ProduktID] [int] NOT NULL,
	[Sasia] [int] NOT NULL,
	[Cmimi_Njesise] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Detajet_Porosise] PRIMARY KEY CLUSTERED 
(
	[PorosiaID] ASC,
	[ProduktID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoria]    Script Date: 01/05/2026 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoria](
	[KategoriaID] [int] NOT NULL,
	[EmriKategorise] [nvarchar](100) NOT NULL,
	[Pershkrimi] [nvarchar](255) NOT NULL,
	[AdminID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klienti]    Script Date: 01/05/2026 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klienti](
	[KlientID] [int] NOT NULL,
	[Emri] [nvarchar](100) NOT NULL,
	[Mbiemri] [nvarchar](100) NOT NULL,
	[Telefoni] [nvarchar](20) NOT NULL,
	[Adresa] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KlientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagesa]    Script Date: 01/05/2026 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagesa](
	[PagesaID] [int] IDENTITY(1,1) NOT NULL,
	[PorosiaID] [int] NOT NULL,
	[Metoda] [nvarchar](50) NOT NULL,
	[Shuma] [decimal](10, 2) NOT NULL,
	[Data] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PagesaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Porosia]    Script Date: 01/05/2026 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Porosia](
	[PorosiaID] [int] IDENTITY(1,1) NOT NULL,
	[KlientID] [int] NOT NULL,
	[Data_Porosise] [datetime] NOT NULL,
	[Statusi] [nvarchar](50) NULL,
	[Totali] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PorosiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produkt_Kategori]    Script Date: 01/05/2026 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produkt_Kategori](
	[ProduktID] [int] NOT NULL,
	[KategoriaID] [int] NOT NULL,
 CONSTRAINT [PK_Produkt_Kategori] PRIMARY KEY CLUSTERED 
(
	[ProduktID] ASC,
	[KategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produkti]    Script Date: 01/05/2026 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produkti](
	[ProduktID] [int] NOT NULL,
	[Emri] [nvarchar](150) NOT NULL,
	[Cmimi] [decimal](10, 2) NOT NULL,
	[Pershkrimi] [nvarchar](255) NOT NULL,
	[Sasia_Stokut] [int] NOT NULL,
	[AdminID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProduktID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shporta]    Script Date: 01/05/2026 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shporta](
	[ShportaID] [int] NOT NULL,
	[KlientID] [int] NOT NULL,
	[Data_Krijimit] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShportaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shporta_Produkte]    Script Date: 01/05/2026 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shporta_Produkte](
	[ShportaID] [int] NOT NULL,
	[ProduktID] [int] NOT NULL,
	[Sasia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShportaID] ASC,
	[ProduktID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Administratori] ([AdminID], [Emri]) VALUES (1, N'Elea Begu')
INSERT [dbo].[Administratori] ([AdminID], [Emri]) VALUES (2, N'Blinera Vrellaku')
GO
INSERT [dbo].[Detajet_Porosise] ([PorosiaID], [ProduktID], [Sasia], [Cmimi_Njesise]) VALUES (9, 1, 1, CAST(1499.99 AS Decimal(10, 2)))
INSERT [dbo].[Detajet_Porosise] ([PorosiaID], [ProduktID], [Sasia], [Cmimi_Njesise]) VALUES (9, 4, 1, CAST(14.99 AS Decimal(10, 2)))
INSERT [dbo].[Detajet_Porosise] ([PorosiaID], [ProduktID], [Sasia], [Cmimi_Njesise]) VALUES (10, 3, 1, CAST(19.99 AS Decimal(10, 2)))
GO
INSERT [dbo].[Kategoria] ([KategoriaID], [EmriKategorise], [Pershkrimi], [AdminID]) VALUES (1, N'Elektronikë', N'Pajisje elektronike moderne', 1)
INSERT [dbo].[Kategoria] ([KategoriaID], [EmriKategorise], [Pershkrimi], [AdminID]) VALUES (2, N'Veshje', N'Veshje për meshkuj dhe femra dhe stil modern', 2)
INSERT [dbo].[Kategoria] ([KategoriaID], [EmriKategorise], [Pershkrimi], [AdminID]) VALUES (3, N'Makeup & Kozmetikë', N'Produkte kozmetike dhe makeup për bukuri natyrale', 2)
GO
INSERT [dbo].[Klienti] ([KlientID], [Emri], [Mbiemri], [Telefoni], [Adresa]) VALUES (1, N'Blerona', N'Gashi', N'044126776', N'Prishtine')
INSERT [dbo].[Klienti] ([KlientID], [Emri], [Mbiemri], [Telefoni], [Adresa]) VALUES (2, N'Blert', N'Berisha', N'049456556', N'Fushë Kosovë')
INSERT [dbo].[Klienti] ([KlientID], [Emri], [Mbiemri], [Telefoni], [Adresa]) VALUES (3, N'Arta', N'Hoxha', N'04567654', N'Prizren')
GO
SET IDENTITY_INSERT [dbo].[Pagesa] ON 

INSERT [dbo].[Pagesa] ([PagesaID], [PorosiaID], [Metoda], [Shuma], [Data]) VALUES (4, 9, N'Kartë Kreditore', CAST(1014.98 AS Decimal(10, 2)), CAST(N'2025-12-24T23:37:09.690' AS DateTime))
INSERT [dbo].[Pagesa] ([PagesaID], [PorosiaID], [Metoda], [Shuma], [Data]) VALUES (5, 10, N'Cash on Delivery', CAST(19.99 AS Decimal(10, 2)), CAST(N'2025-12-24T23:37:09.690' AS DateTime))
INSERT [dbo].[Pagesa] ([PagesaID], [PorosiaID], [Metoda], [Shuma], [Data]) VALUES (6, 11, N'Kartë Debiti', CAST(23.49 AS Decimal(10, 2)), CAST(N'2025-12-24T23:37:09.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pagesa] OFF
GO
SET IDENTITY_INSERT [dbo].[Porosia] ON 

INSERT [dbo].[Porosia] ([PorosiaID], [KlientID], [Data_Porosise], [Statusi], [Totali]) VALUES (9, 1, CAST(N'2025-12-24T23:28:02.227' AS DateTime), N'E përfunduar', CAST(1014.98 AS Decimal(10, 2)))
INSERT [dbo].[Porosia] ([PorosiaID], [KlientID], [Data_Porosise], [Statusi], [Totali]) VALUES (10, 2, CAST(N'2025-12-24T23:28:02.227' AS DateTime), N'Në proces', CAST(19.99 AS Decimal(10, 2)))
INSERT [dbo].[Porosia] ([PorosiaID], [KlientID], [Data_Porosise], [Statusi], [Totali]) VALUES (11, 3, CAST(N'2025-12-24T23:28:02.227' AS DateTime), N'E përfunduar', CAST(23.49 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Porosia] OFF
GO
INSERT [dbo].[Produkt_Kategori] ([ProduktID], [KategoriaID]) VALUES (1, 1)
INSERT [dbo].[Produkt_Kategori] ([ProduktID], [KategoriaID]) VALUES (2, 1)
INSERT [dbo].[Produkt_Kategori] ([ProduktID], [KategoriaID]) VALUES (3, 2)
GO
INSERT [dbo].[Produkti] ([ProduktID], [Emri], [Cmimi], [Pershkrimi], [Sasia_Stokut], [AdminID]) VALUES (1, N'iPhone 17', CAST(1499.99 AS Decimal(10, 2)), N'Telefon smart Apple me performancë të lartë', 15, 1)
INSERT [dbo].[Produkti] ([ProduktID], [Emri], [Cmimi], [Pershkrimi], [Sasia_Stokut], [AdminID]) VALUES (2, N'Laptop Dell Inspiron', CAST(850.00 AS Decimal(10, 2)), N'Laptop i përshtatshem per punë', 10, 1)
INSERT [dbo].[Produkti] ([ProduktID], [Emri], [Cmimi], [Pershkrimi], [Sasia_Stokut], [AdminID]) VALUES (3, N'Maice Oversize', CAST(19.99 AS Decimal(10, 2)), N'Maice pambuku, stil modern', 50, 2)
GO
INSERT [dbo].[Shporta] ([ShportaID], [KlientID], [Data_Krijimit]) VALUES (1, 1, CAST(N'2025-12-24T23:23:14.940' AS DateTime))
INSERT [dbo].[Shporta] ([ShportaID], [KlientID], [Data_Krijimit]) VALUES (2, 2, CAST(N'2025-12-24T23:23:14.940' AS DateTime))
INSERT [dbo].[Shporta] ([ShportaID], [KlientID], [Data_Krijimit]) VALUES (3, 3, CAST(N'2025-12-24T23:23:14.940' AS DateTime))
GO
INSERT [dbo].[Shporta_Produkte] ([ShportaID], [ProduktID], [Sasia]) VALUES (1, 2, 1)
INSERT [dbo].[Shporta_Produkte] ([ShportaID], [ProduktID], [Sasia]) VALUES (1, 3, 2)
GO
/****** Object:  Index [UQ__Pagesa__BB7C42A4D5A965D3]    Script Date: 01/05/2026 19:40:49 ******/
ALTER TABLE [dbo].[Pagesa] ADD UNIQUE NONCLUSTERED 
(
	[PorosiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Shporta__EA31B89213510E62]    Script Date: 01/05/2026 19:40:49 ******/
ALTER TABLE [dbo].[Shporta] ADD UNIQUE NONCLUSTERED 
(
	[KlientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pagesa] ADD  DEFAULT (getdate()) FOR [Data]
GO
ALTER TABLE [dbo].[Porosia] ADD  DEFAULT (getdate()) FOR [Data_Porosise]
GO
ALTER TABLE [dbo].[Shporta] ADD  DEFAULT (getdate()) FOR [Data_Krijimit]
GO
ALTER TABLE [dbo].[Shporta_Produkte] ADD  DEFAULT ((1)) FOR [Sasia]
GO
ALTER TABLE [dbo].[Detajet_Porosise]  WITH CHECK ADD  CONSTRAINT [FK_DP_Porosia] FOREIGN KEY([PorosiaID])
REFERENCES [dbo].[Porosia] ([PorosiaID])
GO
ALTER TABLE [dbo].[Detajet_Porosise] CHECK CONSTRAINT [FK_DP_Porosia]
GO
ALTER TABLE [dbo].[Detajet_Porosise]  WITH CHECK ADD  CONSTRAINT [FK_DP_Produkti] FOREIGN KEY([ProduktID])
REFERENCES [dbo].[Produkti] ([ProduktID])
GO
ALTER TABLE [dbo].[Detajet_Porosise] CHECK CONSTRAINT [FK_DP_Produkti]
GO
ALTER TABLE [dbo].[Kategoria]  WITH CHECK ADD  CONSTRAINT [FK_Kategoria_Administratori] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Administratori] ([AdminID])
GO
ALTER TABLE [dbo].[Kategoria] CHECK CONSTRAINT [FK_Kategoria_Administratori]
GO
ALTER TABLE [dbo].[Pagesa]  WITH CHECK ADD  CONSTRAINT [FK_Pagesa_Porosia] FOREIGN KEY([PorosiaID])
REFERENCES [dbo].[Porosia] ([PorosiaID])
GO
ALTER TABLE [dbo].[Pagesa] CHECK CONSTRAINT [FK_Pagesa_Porosia]
GO
ALTER TABLE [dbo].[Porosia]  WITH CHECK ADD  CONSTRAINT [FK_Porosia_Klienti] FOREIGN KEY([KlientID])
REFERENCES [dbo].[Klienti] ([KlientID])
GO
ALTER TABLE [dbo].[Porosia] CHECK CONSTRAINT [FK_Porosia_Klienti]
GO
ALTER TABLE [dbo].[Produkt_Kategori]  WITH CHECK ADD  CONSTRAINT [FK_PK_Kategoria] FOREIGN KEY([KategoriaID])
REFERENCES [dbo].[Kategoria] ([KategoriaID])
GO
ALTER TABLE [dbo].[Produkt_Kategori] CHECK CONSTRAINT [FK_PK_Kategoria]
GO
ALTER TABLE [dbo].[Produkt_Kategori]  WITH CHECK ADD  CONSTRAINT [FK_PK_Produkti] FOREIGN KEY([ProduktID])
REFERENCES [dbo].[Produkti] ([ProduktID])
GO
ALTER TABLE [dbo].[Produkt_Kategori] CHECK CONSTRAINT [FK_PK_Produkti]
GO
ALTER TABLE [dbo].[Produkti]  WITH CHECK ADD  CONSTRAINT [FK_Produkti_Administratori] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Administratori] ([AdminID])
GO
ALTER TABLE [dbo].[Produkti] CHECK CONSTRAINT [FK_Produkti_Administratori]
GO
ALTER TABLE [dbo].[Shporta]  WITH CHECK ADD  CONSTRAINT [FK_Shpota_Klienti] FOREIGN KEY([KlientID])
REFERENCES [dbo].[Klienti] ([KlientID])
GO
ALTER TABLE [dbo].[Shporta] CHECK CONSTRAINT [FK_Shpota_Klienti]
GO
ALTER TABLE [dbo].[Shporta_Produkte]  WITH CHECK ADD FOREIGN KEY([ProduktID])
REFERENCES [dbo].[Produkti] ([ProduktID])
GO
ALTER TABLE [dbo].[Shporta_Produkte]  WITH CHECK ADD FOREIGN KEY([ShportaID])
REFERENCES [dbo].[Shporta] ([ShportaID])
GO
